*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #212121;
    color: #fff;
}

span{
    display: block;
}
.hero{
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
}

.button{
height: 100px;
width: 100px;
display: inline-block;
border: 5px solid green;
}

#gray{
    background-color: gray;
}
#yellow{
    background-color: yellow;
}
#blue{
    background-color: blue;
}
#red{
    background-color: red;
}